<% layout('\layout/page.ejs') %>
    <div class="hero__card">
        <h1 class="hero__title"><%= title %></h1>
        <img class="hero__pic" src="<%= picture %>" alt="" width="20%" />
        <!-- <h4 >Несколько слов о герое <%= title %>: </h4> -->
        <h4 class="hero__desc"><%=desc%></h4>
    </div>
